<h1>Coder Tienda</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem dolor explicabo nesciunt inventore ad, similique dolorum doloremque corporis, blanditiis sint qui quam, hic beatae fugit accusantium aut sit. Incidunt, nihil!</p>
<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io();
  socket.on("products", data => console.log(data))
</script>
