<h1 class="text-center text-gray-600 text-4xl m-4">Products</h1>
<div class="flex justify-center bg-gray-600 bg-opacity-90">
    <div id="products" class="w-[80%] flex flex-wrap justify-center">

    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/scripts/products.js"></script>